<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Infinite Pages</title>
    <link rel="stylesheet" href="about-us.component.css">
</head>
<body>
    <main>
        <section class="about-section">
            <h1>About Us</h1>
            <p>
                Welcome to Infinite Pages, your go-to online bookstore with a wide variety of books in all genres. Our goal is to promote a love for reading by making books easy to find and affordable. Whether you want the newest bestseller, a classic novel, or a specific niche book, Infinite Pages has something for everyone. Join our community of book lovers and explore endless possibilities through reading.
            </p>
        </section>
        <div class="about-image">
            <img src="https://img.freepik.com/premium-photo/modern-online-bookstore-library-concept-ebooks-app_636638-2757.jpg?ga=GA1.1.1233038012.1717588626&semt=ais_user" alt="Bookstore">
        </div>
    </main>
</body>
</html>
